# This is Git's per-user configuration file.

[user]
    name = hiql
    email = dev.hiql@icloud.com 

[core]
    editor = vi
    ignorecase = false
    pager = delta

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
    ui = auto

[interactive]
    diffFilter = delta --color-only

[pull]
    rebase = false

[push]
    default = current

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[delta]
    navigate = true
    light = false
    line-numbers = true
    side-by-side = true
    syntax-theme = TwoDark
