(
    disabled_fg: Some("DarkGray"),
    selected_tab: Some("White"),
    command_fg: Some("Blue"),
    selection_bg: Some("Black"),
    selection_fg: Some("LightYellow"),
    cmdbar_bg: Some("Reset"),
    cmdbar_extra_lines_bg: Some("Reset"),
    diff_line_add: Some("Green"),
    diff_line_delete: Some("Red"),
    diff_file_added: Some("Green"),
    diff_file_removed: Some("Red"),
    diff_file_moved: Some("Yellow"),
    diff_file_modified: Some("Blue"),
    commit_hash: Some("LightCyan"),
    commit_time: Some("LightMagenta"),
    commit_author: Some("LightGreen"),
    tag_fg: Some("LightMagenta"),
    branch_fg: Some("LightYellow"),
    danger_fg: Some("Red"),
    push_gauge_bg: Some("Blue"),
    push_gauge_fg: Some("Black"),
)
